<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>

	<header th:replace="/layout :: header"></header>
	<div th:replace="/layout :: divisor"></div>

	<div style="margin-top: -15px">
		<div class="container-fuild">
			<div class="px-lg-5">

				<!-- For demo purpose -->
				<div class="row py-5">
					<div class="col-lg-12 mx-auto">
						<div class="text-dark p-5 shadow-sm rounded banner"
							style="text-align: center; background: radial-gradient(circle, rgba(238, 195, 205, 0.996) 44%, rgb(218, 164, 178) 72%);">
							<h1 class="display-4"><strong>Zona de adopción</strong></h1>
							<p class="lead">Regala una esperanza...</p>
							<p class="text">
								Encuentra tu <strong>Mascota</strong>, Estas esperan por tí <br> <br> <a
									href="https://youtu.be/3kO6fsPZ1VA" class="text-reset"> ---*Inspirate, y Adopta
									de manera responsable*---</a>.
							</p>
						</div>
					</div>
				</div>
				<!-- End -->

				<div th:replace="/layout :: galeriabd" class="row">
					
				</div>

			</div>
		</div>
	</div>
	<!-- 	Inicio del acordeon -->
	<div class="container" style="margin-top: 30px; margin-bottom: 50px;">
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header"
					style="font-family: 'Roboto', sans-serif; font-weight: bolder;"
					id="headingOne">
					<button style="background-color: rgb(253, 190, 210)"
						class="accordion-button text-dark" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseOne"
						aria-expanded="true" aria-controls="collapseOne">
						<strong>¿Qué debes de saber antes de adoptar?</strong>
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show"
					aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body" style="text-align: justify;">
						<p>Tanto si vas a adoptar un perro como un gato, debes cumplir
							las siguientes condiciones:
						<ul>
							<li><strong>Ser mayor de edad.</strong></li>
							<li>Se presentará el <strong>DNI</strong> de identificación.
							</li>
							<li>Comprobante de domicilio.</li>
							<li>Documento que demuestre que la persona es propietaria
								del domicilio donde vivirá la mascota o, en caso de alquiler,
								que el arrendatario permite residir con animales.</li>
							<li>Contrato de adopción.</li>
						</ul>
						Debes firmar <strong>un acta que te compromete</strong> a:

						<ul>
							<li>Cuidar de tu mascota y mantenerla en unas <strong>condiciones
									óptimas </strong> de espacio, tiempo, alimentación, ejercicio...
							</li>
							<li>Dotarle de los cuidados veterinarios que necesite. La
								mascota se entregará desparasitada y con las correspondientes
								vacunas, los perros y los gatos llevarán, además, microchip.</li>
							<li>No destinarlo a la cría o reproducción. Los animales que
								tengan la edad suficientes se entregarán esterilizados, y si aún
								no han alcanzado la edad necesaria se firmará un compromiso de
								esterilización.</li>
							<li>Notificar cualquier cambio a la asociación (pérdida,
								muerte...).</li>
						</ul>
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button style="background-color: rgb(248, 214, 225)"
						class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseTwo"
						aria-expanded="false" aria-controls="collapseTwo">
						<strong>Estás aptop para adoptar!!! | Completa el
							formulario aquí.</strong>
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse"
					aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
					<div class="accordion-body container"></div>
				</div>
			</div>

		</div>
	</div>

	<div>
		<div class="container">
			<h1 class="display-4" th:text="${titulo}"></h1>
			<p class="lead" th:text="${Estado}"></p>
			<hr class="my-4">
			<div>
				<form th:action="@{/app/form}" th:object="${regsitro}" method="post"
					enctype="multipart/form-data" class="row g-4">
					<div class="col-12">
						<label for="NomApe" class="form-label">Nombres y
							Apellidos:</label> <input type="text" class="form-control" id="NomApe"
							th:field="*{nomApe}"
							placeholder="Ingrese sus nombres y apellidos completos." />
						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasErrors('nomApe')}" th:errors="*{nomApe}"></div>
					</div>
					<div class="col-md-6">
						<label for="Dni" class="form-label">Número de DNI:</label> <input
							type="number" class="form-control" id="Dni" th:field="*{dni}"
							placeholder="Ingrese su Nº de DNI" />
						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
					</div>
					<div class="col-md-6">
						<label for="Nacimiento" class="form-label">Fecha de
							Nacimiento</label> <input type="date" class="form-control"
							th:field="*{nacimiento}" id="Nacimiento" />
						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasErrors('nacimiento')}"
							th:errors="*{nacimiento}"></div>
					</div>
					<div class="col-12">
						<label for="Direccion" class="form-label">Dirección</label> <input
							type="text" class="form-control" id="Direccion"
							th:field="*{direccion}" placeholder="Ingrese su dirección actual" />
						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasErrors('direccion')}"
							th:errors="*{direccion}"></div>
					</div>
					<div class="col-md-6">
						<label for="Distrito" class="form-label">Distrito:</label> <select
							id="Distrito" class="form-select" th:field="*{distrito}">
							<option selected="">Seleccione una opción.</option>
							<option>Lima</option>
							<option>Trujillo</option>
							<option>Arequipa</option>
						</select>
						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasErrors('distrito')}" th:errors="*{distrito}"></div>
					</div>

					<div class="col-md-6">
						<label for="Estado" class="form-label">Estado:</label> <select
							id="Estado" class="form-select" th:field="*{estado}">
							<option selected="">Seleccione una opción.</option>
							<option>Apto</option>
							<option>No Apto</option>
						</select>
						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
					</div>
					<div class="col-12">
						<label for="Trabajo" class="form-label">Trabajo actual</label> <input
							type="text" class="form-control" id="Trabajo"
							th:field="*{trabajo}"
							placeholder="Por ejemplo: Administrador de una agencia" />
						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasErrors('trabajo')}" th:errors="*{trabajo}"></div>
					</div>
					<div class="col-md-12">
						<label for="NomPets" class="form-label">Nombre de la
							mascota de su interes.</label> <input type="text" class="form-control"
							id="NomPets" th:field="*{nomPets}"
							placeholder="Ingrese el nombre de la mascotita de su interés (Paco)" />
						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasErrors('nomPets')}" th:errors="*{nomPets}"></div>
					</div>
					<div class="col-12">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="gridCheck"
								th:field="*{check}" /> <label class="form-check-label"
								for="gridCheck"> Confirme los datos ingresados </label>
							<div class="alert alert-danger" role="alert"
								th:if="${#fields.hasErrors('check)}" th:errors="*{check}"></div>
						</div>
					</div>
					<div class="col-6 d-grid gap-2 mx-auto">
						<button type="submit" class="btn center"
							style="background-color: rgb(207, 100, 127); color: white; font-weight: bolder;">
							Enviar registro de Adopción</button>
					</div>
				</form>

			</div>
		</div>

	</div>

	<div th:replace="/layout :: divisor"></div>
	<footer th:replace="/layout :: footer"></footer>
</body>
</html>