<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
	
	<header th:replace="/layout :: header"></header>
	<div th:replace="/layout :: divisor"></div>
	<div th:replace="/layout :: slider"></div>
	<div th:replace="/layout :: nuestrahistoria"></div>
	<div th:replace="/layout :: divisor"></div>
	<div th:replace="/layout :: galeria"></div>
	<div th:replace="/layout :: divisor"></div>
	<footer th:replace="/layout :: footer"></footer>
</body>
</html>
