<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="/layout :: head"></head>

<body>

    <header th:replace="/layout :: header"></header>
    <div th:replace="/layout :: divisor"></div>
    <div class="p-5">
        <h1 class="" style="text-align: center;">Formulario de Registro</h1>
        <div class="p-5">
            <div class="container">
                <form th:action="@{/app/formreg}" th:object="${registro}" class="row g-4" method="post"
                    enctype="multipart/form-data">
                    <h4>Complete el formulario de adopción:</h4>
                    <div class="col-12">
                        <label for="nomape" class="form-label">Nombres y apellidos</label>
                        <input name="nomape" type="text" class="form-control" id="nomape"
                            placeholder="Ingrese sus nombre y apellidos" th:field="*{nomape}" />
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nomape')}"  th:errors="*{nomape}" ></div>

                    </div>
                    <div class="col-md-6">
                        <label for="dni" class="form-label">DNI:</label> <input type="number" class="form-control" id="dni"
                            placeholder="Ingrese su numero de DNI." th:field="*{dni}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dni')}"  th:errors="*{dni}" ></div>
                    </div>
                    <div class="col-md-6">
                        <label for="edad" class="form-label">Edad:</label> <input type="number" class="form-control" id="edad"
                            placeholder="Ingrese su edad" th:field="*{edad}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('edad')}"  th:errors="*{edad}" ></div>
                    </div>
                    <div class="col-md-6">
                        <label for="fechanac" class="form-label">Fecha de
                            Nacimiento</label> <input type="date" class="form-control" id="fechanac"  th:field="*{fechanac}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('fechanac')}"  th:errors="*{fechanac}" ></div>
                    </div>
                    <div class="col-md-6">
                        <label for="estado" class="form-label">Estado:</label>
                        <select class="form-select" aria-label="Default select example" th:field="*{estado}">
                            <option th:value="${'Seleccione una opción'}" selected> Seleccione una opción</option>
                            <option th:value="${'Apto'}" >Apto</option>
                            <option th:value="${'No Apto'}" >No Apto</option>
                        </select>
                    </div>   
                    <div class="col-md-12">
                        <label for="direccion" class="form-label">Direccion:</label> <input type="text" class="form-control" id="direccion"
                            placeholder="Ingrese su direccion actual" th:field="*{direccion}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('direccion')}"  th:errors="*{direccion}" ></div>
                    </div>
                    <div class="col-md-12">
                        <label for="trabajo" class="form-label">Trabajo:</label> <input type="text" class="form-control" id="trabajo"
                            placeholder="Ingrese su direccion actual" th:field="*{trabajo}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('trabajo')}"  th:errors="*{trabajo}" ></div>
                    </div>                      
                    
                    <div class="col-12">
                        <label for="nompets" class="form-label">Nombre de la mascota:</label>
                        <input type="text" class="form-control" id="nompets"
                            placeholder="Ingrese el nombre de su mascota de preferencia"  th:field="*{nompets}"/>
                            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nompets')}"  th:errors="*{nompets}" ></div>
                    </div>

                    <div class="col-12">
                        <div class="check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label" for="check">
                            Acepte y verique los datos agregados.
                          </label>
                          
                        </div>
                      </div>

                    
                    <div class="col-6 d-grid gap-2 mx-auto">
                        <button type="submit" class="btn center"
                            style="background-color: rgb(207, 100, 127); color: white; font-weight: bolder;">
                            Enviar registro de Adopción</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div th:replace="/layout :: divisor"></div>
    <footer th:replace="/layout :: footer"></footer>
</body>

</html>