<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="/layout :: head"></head>

<body>

  <header th:replace="/layout :: header"></header>
  <div th:replace="/layout :: divisor"></div>

  <div class="">
    <div class="container*-fluid p-5">
      <h2 th:text="${titulo}"></h2>
      <p th:text="${descripcion}"></p>
      <hr>
      <div class="container">
        <table class="table table-light table-striped p-4 g-4" style="text-align:center">
          <h2 th:text="${tituloSN}"></h2>
          <hr>
          <thead class="text-dark">
            <tr class="text-dark">
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Correo</th>
              <th>Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>EDIN OMAR</td>
              <td>ESPINOZA PORTILLA</td>
              <td>70034648@certus.edu.pe</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>ELIGIO EDUARDO</td>
              <td>ZAPATA BUSTAMANTE</td>
              <td>70986079@certus.edu.pe</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>ESTEFANY</td>
              <td>HINOSTROZA GUZMAN</td>
              <td>61833167@certus.edu.pe</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>PEDRO ALEXANDER</td>
              <td>CANOVA MORE</td>
              <td>71756490@certus.edu.pe</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>FRANCIS SEBASTIAN</td>
              <td>MONDRAGON RAMOS</td>
              <td>75510720@certus.edu.pe</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>ALBERTO FRANCISCO</td>
              <td>GUZMAN ROJAS</td>
              <td>75533919@certus.edu.pe</td>
              <td>50%</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div th:replace="/layout :: divisor"></div>
  <footer th:replace="/layout :: footer"></footer>
</body>

</html>