<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="/layout :: head"></head>

<body>

    <header th:replace="/layout :: header"></header>
    <div th:replace="/layout :: divisor"></div>

    <!-- Inicio de la galeria -->
    <div style="margin-top: -20px">
        <div class="container-fluid">
            <div class="px-lg-5">

                <!-- For demo purpose -->
                <div class="row py-5">
                    <div class="col-lg-12 mx-auto">
                        <div class="text-dark p-5 shadow-sm rounded banner"
                            style="text-align: center; background: radial-gradient(circle, rgba(238, 195, 205, 0.996) 44%, rgb(218, 164, 178) 72%);">
                            <h1 class="display-4">Nuestras registros</h1>
                            <p class="lead">registros que esperan por tí...</p>
                            <p class="text">
                                Encuentra tu registro, Estas esperan por tí <br> <br>
                                <a th:href="@{/app/adopcion}" class="text-reset"> ---Ir a
                                    Zona de adopción---</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End -->

                <div th:fragment="galeriabd" class="row">
                    <!-- Gallery item -->
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4" th:each="registro : ${listita}">
                        <div class="bg-white rounded shadow-sm">
                            <div class="bg-white rounded shadow-sm">
                                <div class="p-4">
                                    <h5 class="card-title" th:text="${registro.nomape}"></h5>
                                    <p class="small text-muted mb-0"
                                        style="font-family: 'Roboto', sans-serif; font-size: 14px; text-align: center"
                                        th:text="${registro.correo}">
                                    </p>
                                    <br>
                                    <p class="small text-muted mb-0"
                                        style="font-family: 'Roboto', sans-serif; font-size: 14px;"
                                        th:text="${registro.direccion}">

                                    </p>
                                    <div style="background: radial-gradient(circle, rgba(238, 155, 176, 0.657) 44%, rgb(250, 176, 194) 72%);"
                                        class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                        <p class="small mb-0"
                                            style="margin: auto; color: rgb(33, 9, 14); font-weight: bolder; font-size: 25px; "
                                            th:text="${registro.estado}"></p>

                                    </div>
                                    <br>
                                    <div class="col-12 p-1" style="margin: auto;">
                                        <a th:href="@{/app/Editar/}+${registro.idregistro}" class="text-white col-5 btn"
                                            style="background-color: #12af5b"><strong>Editar</strong></a>
                                        <a th:href="@{/app/Elimnar/}+${registro.idregistro}"
                                            class="text-white col-5 btn"
                                            style="background-color: #6f2a2a"><strong>Eliminar</strong></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </div>

            </div>
        </div>
    </div>
    <!-- Fin de la Galeria -->


    <div th:replace="/layout :: divisor"></div>
    <footer th:replace="/layout :: footer"></footer>
</body>

</html>