<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="/layout :: head"></head>

<body>

	<!-- <header th:replace="/layout :: header"></header>
	<div th:replace="/layout :: divisor"></div> -->

	<body class="mx-auto"
		style="background: radial-gradient(circle, rgba(250, 230, 235, 0.646) 44%, rgba(248, 212, 221, 0.644) 72%);">



		<div class="" style="align-items: center;
		justify-content: center; height: 100vh;
	   display: flex">
			<div class="">

				<div class="g-0 position-relative" style="height: 65vh; width: 100%; margin: auto; border-radius: 500px; margin-bottom: -
				vh; background: radial-gradient(circle, rgba(225, 165, 179, 0.996) 44%, rgb(188, 121, 139) 72%);">
					<h2 class="p-4 text-white" style="text-align: center; margin:auto;">HUELLAS DE AMOR</h2>
				</div>

				<div class=" g-0 bg-light position-relative"
					style="height: 58vh; border-radius: 250px; margin-top: -55vh">
					<div class="row g-0 position-relative" style=" border-radius: 20px; margin-top: 0vh; width: 120vh;">
						<div class="col-lg-6 col-md-6 p-md-4" style="text-align: center; margin: auto;">
							<img src="/bootstrap/img/Imagen1.png" class="img-responsive w-100" alt="...">
						</div>
						<div class="col-lg-6 col-md-6 p-0 ps-md-0 mt-4" style="margin: auto;">
							<div class="p-3 me-5 me-5 " style="margin: auto;">
								<!-- Parametros de alerta -->
								<div class="mb-3 me-5">
									<div class="">
										<div class="text-white text-center mx-auto p-1"
											style="background-color: rgb(214, 76, 157); border-radius: 25px;"
											th:if="${param.error}">
											Usuario o contraseña incorrecta.
										</div>
										<div class="text-dark text-center mx-auto p-1"
											style="background-color: rgb(29, 233, 148); border-radius: 25px;"
											th:if="${param.logout}">
											Gracias! Cerró Sesión correctamente.
										</div>
									</div>
								</div>
								<h2 class="me-4" style="text-align: center;">Iniciar Sesión</h2>
								<form style="margin: auto; " th:action="@{/login}" method="post">
									<div class="mb-3 me-5">
										<label for="exampleInputEmail1" class="form-label">Usuario:</label>
										<input type="text" class="form-control" id="exampleInputEmail1"
											aria-describedby="emailHelp" name="username">
									</div>
									<div class="mb-3 me-5">
										<label for="exampleInputPassword1" class="form-label">Contraseña:</label>
										<input type="password" class="form-control" id="exampleInputPassword1"
											name="password">
									</div>
									<div class="mb-3 form-check">
										<input type="checkbox" class="form-check-input" id="exampleCheck1" required>
										<label class="form-check-label" for="exampleCheck1">Acepte e inicie
											sesión</label>
									</div>
									<div class="me-4 mt-4" style="margin: auto; text-align:center;">
										<button type="submit" class="btn center w-50" style="
                                      background-color: rgb(207, 100, 127);
                                      color: white;
                                      font-weight: bolder;
                                    ">
											Iniciar Sesión
										</button>
									</div>
									<p class="text-dark me-4 mt-3" style="text-align: center; "><a class="text-dark"
											style="text-decoration: none;" th:href="@{/app/crearusu}">Si no
											tiene
											cuenta,
											<strong>Registrese
												aquí.</strong></a>
									</p>
								</form>
							</div>


						</div>

					</div>
				</div>
			</div>

		</div>
		<!-- <div
		class="align-self-center col-lg-6 col-md-12 col-sm-12 mx-auto mt-4 p-4"
		style="">
		
		Titulo Inicio
		
		<div class="" style="width: 100%; margin-top: 12vh">
			<div class="text-dark p-2 shadow-sm rounded banner"
				style="text-align: center; background: radial-gradient(circle, rgba(238, 195, 205, 0.996) 44%, rgb(218, 164, 178) 72%);">
				<h1 class="display-4" style="">
					<strong>Iniciar Sesión</strong>
				</h1>

			</div>
		</div>
		Fin de titulo Inicio
		Inicio de Form Login
		<div class="row rounded mx-auto p-4"
			style="color: white; font-weight: bolder;">


			<div class="" style="width: 100%; margin: auto">

				<div class="container" style="margin: auto; color: black;">
					<div class="" style="margin: auto;">
						<form class="mx-auto row g-4 p-4">
							<h4 style="margin: auto;">Inicie sesión</h4>
							<div class=" ">
								<label for="inputNonApe" class=" form-label">Correo:</label> <input
									type="email" class="form-control" id="inputNonApe"
									placeholder="Ingrese su correo registrado (ejemplo@mail.com)" />
							</div>

							<div class="">
								<label for="inputEmail4" class="form-label">Contraseña:</label>
								<input type="password" class="form-control" id="inputEmail4"
									placeholder="Ingrese su contraseña (*********)" />
							</div>
							<div class="col-lg-6 col-md-8 d-grid gap-2 mx-auto">
								<button type="submit" class="btn center"
									style="background-color: rgb(146, 80, 96); color: white; font-weight: bolder;">
									Inciar sesión</button>
							</div>
							<div class="p-4" style="margin: auto">
								<p style="margin: auto; text-align: center;">
									<a th:href="@{/app/proximamente}"
										style="text-decoration: none; color: black;">No tiene
										cuenta, <strong>Regístrese aqui.</strong>
									</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
Fin del Form Login
	</div> -->

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">

		</script>
	</body>



</html>