<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="/layout :: head"></head>

<body>

    <!-- <header th:replace="/layout :: header"></header>
    <div th:replace="/layout :: divisor"></div> -->

    <body class="mx-auto"
        style="background: radial-gradient(circle, rgba(250, 230, 235, 0.646) 44%, rgba(248, 212, 221, 0.644) 72%);">
        <div class="" style="align-items: center;
		justify-content: center; height: 100vh;
	   display: flex">
            <div class="container">
                <div class="g-0 position-relative" style="height: 80vh; width: 100%; margin: auto; border-radius: 300px; margin-bottom: -
				vh; background: radial-gradient(circle, rgba(225, 165, 179, 0.996) 44%, rgb(188, 121, 139) 72%);">
                    <h2 class="p-4 text-white" style="text-align: center; margin:auto;">HUELLAS DE AMOR</h2>
                </div>

                <div class="row g-0 bg-light position-relative"
                    style="height: 85vh; border-radius: 300px; margin-top: -70vh">
                    <div class="row g-0 position-relative"
                        style="height: 50vh; border-radius: 20px; margin-top: 0vh; margin-bottom: -50vh;">
                        <div class="col-md-6 p-md-4" style="text-align: center; margin: auto;">
                            <img src="/bootstrap/img/Imagen1R.png" class="w-75 img-responsive" alt="...">
                        </div>
                        <div class="col-md-6 p-4 ps-md-0" style="margin: auto;">
                            <div class="ms-5" style="margin: auto">
                                <h2 class="me-4 mb-4" style="text-align: center;">Registro de Usuario</h2>
                                <form class="g-4 me-4" style="margin: auto;" th:action="@{/app/formusu}"
                                    th:object="${usuario}" method="post">
                                    <h5 class="me-4">Complete el formulario de registro:</h5>
                                    <div class="me-4 mb-1">
                                        <label for="NonApe" class="form-label">Nombres y Apellidos:</label>
                                        <input type="text" class="form-control" id="NonApe"
                                            placeholder="Ingrese sus nombres y apellidos completos."
                                            th:field="*{nomape}" />
                                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nomape')}" th:errors="*{nomape}"></div>
                                    </div>
                                    <div class="me-4 mb-1">
                                        <label for="Correo" class="form-label">Usuario:</label>
                                        <input type="text" class="form-control" id="inputAddress"
                                            placeholder='Ejemplo (Usuario_AP)' th:field="*{usuario}" />
                                        <div class="alert alert-danger" role="alert"
                                            th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></div>
                                    </div>
                                    <div class="me-4 mb-1">
                                        <label for="Correo" class="form-label">Correo el correo:</label>
                                        <input type="email" class="form-control" id="inputAddress"
                                            placeholder="Ingrese su correo ejemplo (ejemplo@mail.com)"
                                            th:field="*{correo}" />
                                        <div class="alert alert-danger" role="alert"
                                            th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></div>
                                    </div>
                                    <div class="me-4 mb-1">
                                        <label for="Correo" class="form-label">Contraseña:</label>
                                        <input type="password" class="form-control" id="inputAddress"
                                            placeholder="Ingrese su contraseña *******" th:field="*{contrasena}" />
                                        <div class="alert alert-danger" role="alert"
                                            th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"></div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="me-5 col-6">
                                            <label for="inputEmail4" class="form-label">Número de DNI:</label>
                                            <input type="number" class="form-control" id="inputEmail4"
                                                placeholder="Ingrese su Nº de DNI" th:field="*{dni}" />
                                            <div class="alert alert-danger" role="alert"
                                                th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
                                        </div>
                                        <div class="ms-4 col-4">
                                            <label for="inputDate" class="form-label">Fecha de Nacimiento</label>
                                            <input type="date" class="form-control" id="inputPassword4"
                                                th:field="*{fechanac}" />
                                            <div class="alert alert-danger" role="alert"
                                                th:if="${#fields.hasErrors('fechanac')}" th:errors="*{fechanac}"></div>
                                        </div>
                                    </div>
                                    <div class="me-4 mb-1">
                                        <label for="inputAddress" class="form-label">Dirección</label>
                                        <input type="text" class="form-control" id="inputAddress"
                                            placeholder="Ingrese su dirección actual" th:field="*{direccion}" />
                                        <div class="alert alert-danger" role="alert"
                                            th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                                    </div>

                                    <div class="me-4 mb-4 mt-3" style="margin: auto; text-align:center;">
                                        <button type="submit" class="btn center w-50" style="
                                      background-color: rgb(207, 100, 127);
                                      color: white;
                                      font-weight: bolder;
                                    ">
                                            Registrarse
                                        </button>
                                    </div>


                                    <div class="" style="margin:auto">
                                        <p style="margin:auto; text-align: center;">
                                            <a th:href="@{/app/login}" style="text-decoration: none; color: black;">Ya
                                                tienes una cuenta,
                                                <strong>Inicia aquí.</strong>
                                            </a>
                                        </p>
                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- 
        <div class="align-self-center col-lg-6 col-md-12 col-sm-12 mx-auto mt-4 p-4" style="">
            Titulo Inicio
            <div class="" style="width: 100%; margin-top: 0vh">
                <div class="text-dark p-2 shadow-sm rounded banner"
                    style="text-align: center; background: radial-gradient(circle, rgba(238, 195, 205, 0.996) 44%, rgb(218, 164, 178) 72%);">
                    <h1 class="display-4" style="">
                        <strong>Registro de Usuario</strong>
                    </h1>
                    <form class="row g-4">
                                <h4>
                                    Complete el formulario de registro:
                                </h4>
                                <div class="col-12">
                                    <label for="NonApe" class="form-label">Nombres y Apellidos:</label>
                                    <input type="text" class="form-control" id="NonApe"
                                        placeholder="Ingrese sus nombres y apellidos completos." required />
                                </div>
                                <div class="col-12">
                                    <label for="Correo" class="form-label">Correo electrónico:</label>
                                    <input type="email" class="form-control" id="inputAddress"
                                        placeholder="Ingrese su correo ejemplo (ejemplo@mail.com)" />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Número de DNI:</label>
                                    <input type="number" class="form-control" id="inputEmail4"
                                        placeholder="Ingrese su Nº de DNI" />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputDate" class="form-label">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" id="inputPassword4" />
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        placeholder="Ingrese su dirección actual" />
                                </div>

                                <div class="col-6 d-grid gap-2 mx-auto">
                                    <button type="submit" class="btn center" style="
                                  background-color: rgb(207, 100, 127);
                                  color: white;
                                  font-weight: bolder;
                                ">
                                        Registrarse
                                    </button>
                                </div>


                                <div class="p-4" style="margin:auto">
                                    <p style="margin:auto; text-align: center;">
                                        <a th:href="@{/app/login}" style="text-decoration: none; color: black;">Ya
                                            tienes una cuenta,
                                            <strong>Inicia aquí.</strong>
                                        </a>
                                    </p>
                                </div>
                            </form>

                </div>
            </div>
            Fin de titulo Inicio
            Inicio de Form Login
            <div class="row rounded mx-auto p-4" style="

color: white;
font-weight: bolder;
">


                <div class="" style="width: 100%; margin:auto">

                    <div class="container" style="margin: auto;
        color: black;
      ">
                        <div class="" style="margin: auto;">

                            <form class="row g-4">
                                <h4>
                                    Complete el formulario de registro:
                                </h4>
                                <div class="col-12">
                                    <label for="NonApe" class="form-label">Nombres y Apellidos:</label>
                                    <input type="text" class="form-control" id="NonApe"
                                        placeholder="Ingrese sus nombres y apellidos completos." required />
                                </div>
                                <div class="col-12">
                                    <label for="Correo" class="form-label">Correo electrónico:</label>
                                    <input type="email" class="form-control" id="inputAddress"
                                        placeholder="Ingrese su correo ejemplo (ejemplo@mail.com)" />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Número de DNI:</label>
                                    <input type="number" class="form-control" id="inputEmail4"
                                        placeholder="Ingrese su Nº de DNI" />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputDate" class="form-label">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" id="inputPassword4" />
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="inputAddress"
                                        placeholder="Ingrese su dirección actual" />
                                </div>

                                <div class="col-6 d-grid gap-2 mx-auto">
                                    <button type="submit" class="btn center" style="
                                  background-color: rgb(207, 100, 127);
                                  color: white;
                                  font-weight: bolder;
                                ">
                                        Registrarse
                                    </button>
                                </div>


                                <div class="p-4" style="margin:auto">
                                    <p style="margin:auto; text-align: center;">
                                        <a th:href="@{/app/login}" style="text-decoration: none; color: black;">Ya
                                            tienes una cuenta,
                                            <strong>Inicia aquí.</strong>
                                        </a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>Fin del Form Login
        </div>
-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">

            </script>
    </body>


</body>

</html>